body {
    color: #a0a0a0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.nav-bar {
  background-color: #363636;
}

.side-bar {
    background-color: #262626;;
}

.collapsible > summary:hover {
    background-color: #343434;
}

.new-note-btn, .new-folder-btn, .delete-btn {
    color: #969696; /* your hex value */
    background-color: #262626;
    border-width: 0;
    transition: all 0.1s ease-in-out;
}

* {
    transition: all 0.1s ease-in-out;

}

.tool-box button:hover {
    background-color: #343434;
}

#note {
    background-color: #1e1e1e;
    color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    outline: none;
}