body {
  height: 1200px;
}

.interface {
  margin: auto;
  margin-top: 50px;

  width: 1800px;
  height: 1000px;
}
.nav-bar {
  height: 5.5%;
}

.side-note-box {
  height: 94.5%;
}

.side-bar {
  width: 15%;
  font-size: 14px;
}

.tool-box button {
  width: 30px;
}

.note-box {
  width: 85%;
}

#note {
  width: 100%;
  height: 100%;
  font-size: 16px;
  resize: none;
  border: none;
}
