* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.side-note-box {
  display: flex;
  flex-direction: row;
}



.collapsible {
  position: relative;
}
    
.collapsible > summary {
  cursor: pointer;
  list-style: none; /*Remove the default triangle disclosure widget*/
  padding-left: 1em; /*Leave spaces for the arrow icon*/
}

.collapsible > summary::before {
  /*Adjust the position of summary with regards to the collapsible box*/
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 1em;
  height: 1em;

  /* The chevron-right arrow*/
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
}

.collapsible[open] > summary::before {
  /*Rotate 90degree the arrow*/
  transform: rotate(90deg);
}

.note-box {
  display: flex;
  justify-content: center;
  align-items: center;
}